@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,body, #root {
  height:100%;
  margin:0;
  padding:0;
  width:100%
}

body {
  overflow-x: hidden;
}

.snap-y {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
}